{% extends "base.html" %}
{% block title %}Accessibility{% endblock %}
{% block headertext %} - Accessibility{% endblock %}
{% block main %}
    <h1>Accessibility Statement</h1>
    <div>
    <p>As part of the University of California, CDL is required to follow the
    <a href="https://www.ucop.edu/electronic-accessibility/initiative/policy.html">University of California Information Technology Accessibility Policy</a>
    to help ensure that as broad a population as possible may access, benefit
    from, and contribute to the University's electronic programs and services.
    The Policy requires that all web content in N2T.net complies with WCAG 2.1
    Guidelines at level AA success criteria. Accordingly, users are responsible
    for ensuring that content they provide to N2T.net meets this standard.</p>
    </div>
{% endblock %}
