<!DOCTYPE html>
<html lang="en">
<head>
    {%  block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>N2T {% block title %}{% endblock %}</title>
    <link href="{{ relurl_for('static', path='/style.css') }}" rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
    {%  endblock %}
</head>
<body>
{%  block body %}
<gh-corner user="CDLUC3" repo="N2T" position="right"></gh-corner>
<header>
    {% block header %}
        <p><a href="/">N2T</a> service {% block headertext %}{% endblock %}</p>
    {% endblock %}
</header>
<main>
    {%  block main %}
    <h1>N2T - Identifier Resolution Service</h1>
    <div>
    <p><code>N2T</code> is an identifier scheme resolver that given a provided identifier,
        matches it to an identifier scheme definition. Depending on the form of the request,
        a successful match will either redirect to the registered target, or present
        information about the matched definition.</p>
    <p>Identifiers take the form:</p>
    <pre><code>scheme:prefix/value</code></pre>
        <p>The service API description is available at <a href="/api">/api</a>.</p>
        <p>A list of schemes registered with this service is available on the <a href="/_schemes.html">schemes page</a>.</p>
    </div>
    {% endblock %}
</main>
<footer>N2T, {{ environment }} environment, version {{ version }}
 &middot; <a href="/_accessibility.html">Accessibility</a></footer>
{% endblock %}
{% block addendum %}
{% endblock %}
</body>
</html>
