{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%  block main %}
    <h1>N2T - Identifier Resolution Service</h1>
    <div>
    <p><code>N2T</code> is an identifier scheme resolver that given a provided identifier,
        matches it to an identifier scheme definition. Depending on the form of the request,
        a successful match will either redirect to the registered target or present
        information about the matched definition.</p>
    <p>Identifiers take the form:</p>
    <pre><code>scheme:prefix/value</code></pre>
        <p><em>Note:</em> The legacy N2T service is deprecated. The following resources are transitioned:</p>
        <ul>
            <li><a href="https://cdluc3.github.io/naan_reg_priv/naan_registry.txt">naan_registry.txt</a></li>
            <li><a href="https://cdluc3.github.io/naan_reg_priv/shoulder_registry.txt">shoulder_registry.txt</a></li>
            <li><a href="https://cdluc3.github.io/naan_reg_priv/naan_table.txt">naan_table.txt</a></li>
        </ul>
        <p>Information about ARK NAAN records is available at <a href="https://cdluc3.github.io/naan_reg_priv/">https://cdluc3.github.io/naan_reg_priv/</a></p>
        <p>The N2T service API description is available at <a href="/api">/api</a>.</p>
        <p>Identifier schemes registed with N2T are listed on the <a href="/_schemes.html">schemes page</a>.</p>
    </div>
{%  endblock %}
